section{
    font-family: sans-serif;
    background-image: url(https://plus.unsplash.com/premium_photo-1685086785333-976367da9210?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEyM3x8fGVufDB8fHx8fA%3D%3D);
}
body{
    background-color: black;
}
    